@using System.Web.Configuration

@section scripts {
    <script type="text/javascript" src="~/Scripts/Views/home.js"></script>
}
@Html.Hidden("apihost", WebConfigurationManager.AppSettings["apihost"])

@{
    ViewBag.Title = "Home Page";
}

    <div class="jumbotron">
        <h2>REGISTER OF COUNTERS</h2>
        <p class="lead">Here you can register new counters in the database. Remember that the field "serial number" is mandatory.</p>
        
        <label for="serial">Serial number:</label>
        <input type="text" id="serial" name="serial">
        <label for="brand">Brand:</label>
        <input type="text" id="brand" name="brand">
        <label for="model">Model:</label>
        <input type="text" id="model" name="serial">
        <label for="type">Type:</label>
        <select style="height: 26px;" name="type" id="type">
            <option value="water">Water</option>
            <option value="light">Light</option>
        </select>
        <br><br>
        <button class="btn btn-default" id="submit" value="submit">Submit</button>
    </div>